<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.69" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="EmbedIO" version="3.3.3" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls.WebView" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net472" />
  <package id="NetMQ" version="4.0.0.207" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NodaTime" version="2.4.7" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unosquare.Swan" version="2.4.3" targetFramework="net472" />
  <package id="Unosquare.Swan.Lite" version="2.6.1" targetFramework="net472" />
</packages>