<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XiboClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XiboClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XiboClient.Properties.Settings>
            <setting name="LibraryPath" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
            <setting name="XiboClient_xmds_xmds" serializeAs="String">
                <value>http://localhost/Xibo/server/xmds.php</value>
            </setting>
            <setting name="ServerKey" serializeAs="String">
                <value>changetocustomerkey</value>
            </setting>
            <setting name="displayName" serializeAs="String">
                <value>COMPUTERNAME</value>
            </setting>
            <setting name="licensed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="collectInterval" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="powerpointEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="serverURI" serializeAs="String">
                <value>https://www.xibo.co.uk/changetocustomersite</value>
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
        </XiboClient.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <XiboClient.Properties.Settings>
            <setting name="ScheduleFile" serializeAs="String">
                <value>schedule.xml</value>
            </setting>
            <setting name="logLocation" serializeAs="String">
                <value>log.xml</value>
            </setting>
            <setting name="blackListLocation" serializeAs="String">
                <value>blacklist.xml</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
        </XiboClient.Properties.Settings>
    </applicationSettings>
</configuration>